<div>
    <header class="sma-header border-bottom shadow-sm">
        <div class="container d-flex align-items-center py-2">
            <img src="/assets/img/IconoEmpresa.png" class="img-icono-empresa me-3" alt="Icono de Empresa">
            <h2 class="m-0">SMA-IoT - Sistema de Monitoreo Ambiental</h2>
        </div>
    </header>

    <main class="container py-4">
        <div class="div-map">
            <h2 class="mb-2">Mapa de Estaciones Ambientales</h2>
            <map-viewer [stations]="stationData" />
        </div>
    </main>
</div>
