.img-icono-empresa {
    height: 100px;
}

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:host > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.div-map {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}